//.brand__thumbnail{
//  height: 80px;
//  width: 80px;
//  > img{
//    @include border-radius(50%);
//    @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.45));
//  }
//}
.brand__thumbnail{
  height: 80px;
  width: 80px;
  //> img{
  //  @include border-radius(50%);
  //  @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.45));
  //}
}
.brand__item{
  border-bottom: 1px solid $color-gray-light1;
  padding-bottom: 12px;
  padding-top: 12px;
  .icon-vertify{
    position: absolute;
    bottom: 5px;
    right: 0;
    max-width: 18px;
  }
  .brand-detail{
    width: calc(100% - 120px);
    padding-left: 40px;
  }
  .brand-name{
    font-size: 24px;
    margin: 0 0 3px;
  }
  .btn-main{
    min-width: 99px;
  }
}
.brand__top{
  //border-bottom: 20px solid $color-gray-light1;
  background-color: $color-white;
  .block__title{
    padding-top: 18px;
    margin-bottom: 0;
  }
  .btn__view{
    padding-right: 4px;
  }
  .btn-link{
    color: $color-black-light1
  }
}

.brand__info{
  //padding-top: 17px;
  //padding-bottom: 17px;
  .col-info-center{
    padding-inline-start: 20px;
  }
  .brand-info-detail{
    padding-left: 20px;
  }
  .brand-name{
    font-size: 20px;
    margin: 0 0 7px;
  }
  .sum-item{
    color: $color-gray1;
  }
  .count{
    font-weight: $font-weight__semibold;
    margin-right: 7px;
  }
  .sum-item-name{
    line-height: 1;
  }
}
.btn-follow-brand{
  height: 24px;
  padding: 2px 12px 0;
}
