.cart__items{
  .btn-delete{
    font-size: 15px;
  }
}
.cart-check-item{
  padding: 22px 6px 20px 0;
}
.cart-vendor{
  padding: 22px 0 8px;
  .cart-vendor-head{
    border-bottom: 2px solid $color-gray-light1;
    margin-bottom: 8px;
    padding-bottom: 6px;
  }
  .cart-vendor-item{
    position: relative;
    padding-left: 40px;
  }
  .cart-checkbox{
    @extend .flex-center;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    .label-input{
      height: 20px;
      width: 20px;
    }
  }
  .btn-arr-right{
    padding-right: 8px;
  }
}
.promo-voucher{
  .icon{
    max-height: 14px;
  }
}
.promo-reward{
  .icon{
    max-height: 19px;
  }
}
.promo-item{
  border-bottom: 1px solid $color-gray-light1;
  padding: 12px 0;
  .promo-des{
    margin: 0 10px 0 0;
  }
  .promo-logo{
    margin-right: 10px;
    width: 24px;
  }
  .promo-btn{
    margin-bottom: 11px;
  }
}

//Footer Cart
.footer-cart{
  @include box-shadow(0px 1px 3px var(--color-shadow));
  padding-top: 10px;
}
.cart-total{
  .price{
    font-size: 20px;
    font-weight: $font-weight__bold;
  }
  .price-label{
    margin-right: 12px;
  }
}

//cart pay
.cart-pay-header{
  align-items: flex-start;
  padding: 14px 0 8px;
  .list-address{
    width: 100%;
  }
  .list-address_item__info{
    padding-left: 24px;
  }
}
.cart-pay{
  .cart-pay-info {
    padding: 11px 0 4px;
    border-bottom: 1px solid $color-gray-light2;
    margin-bottom: 8px;
    .cart-pay-info-title{
      padding-bottom: 5px;
    }
    .product-save-price{
      padding-top: 5px;
      .price-wrap{
        @extend .text-small;
        color: $color-main;
      }
    }
  }
}

//cart-pay-item
.cart-pay-item {
  .minicart-item {
    .product-options{
      margin-bottom: 30px;
    }
    .number-of-products {
      @extend .text-small;
      color: $color-gray1;
    }
    .price-box{
      margin-bottom: 10px;
    }
  }
}

//cartpayinfo
.box-cartpay-info-footer{
  padding-bottom: 47px;
  h3{
    border-bottom: 1px solid $color-gray-light2;
    margin-bottom: 12px;
    padding-bottom: 9px;
  }
  .list-pay{
    .item-pay{
      padding-bottom: 8px;
      .item-pay_name{
        font-size: $font-size__base;
        line-height: 20px;
      }
      .item-pay_price{
        color: $color-main;
        font-size: $font-size__base;
      }
    }
  }
}


