.header-chat{
  button{
    width: initial !important;
  }
  .account-pages-title{width: initial}
}
.img-chat-home {
  text-align: center;
  img {
    padding: 35px 0;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 40px;
  }
}
.group-btn-chat{
  button{
    @extend h2;
    @include box-shadow (0px 1px 3px $color-shadow);
    @include border-radius ($radius: 4px);
    line-height: 24px;
    background: $color-white;
    margin-bottom: 12px;
    border: none;
  }
}

.message-box{
  padding: 18px 0 70px;
  .item-message{
    align-items: flex-start;
    .avatar{
      background:$color-gray-light1 ;
      padding: 7px;
      width: 32px;
      height: 32px;
     @include border-radius ($radius: 50%);
    }
    .text-message{
      p{
        @include border-radius (16px 16px 16px 2px);
        line-height: 18px;
        margin: 0 0 2px;
        padding: 8px;
        display: table;
      }
    }
  }
  .message-left{
    .text-message{
      margin-left: 8px;
      width: 60% ;
      p{
        background: #f5f5f5;
      }
    }
  }
  .message-right{
    flex-flow: row-reverse;
    justify-content: flex-start;
    .text-message{
      margin-right: 8px;
      p{
        @include border-radius ($radius: 16px);
        clear: both;
        float: right;
        background: $color-main;
        color: $color-white;
      }

    }
  }
}
.toolbar-chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 8px 16px;
  border-top:1px solid $color-shadow;
  background: $color-white;
  .other-img-chat {
    width: 28px;
  }
  .input-chat{
    width: 100%;
    padding: 0 15px;
    input {
      width: 100%;
      height: 40px;
      box-shadow: none;
      border: 1px solid #BBBBBB;
    }
  }
  .submit {
    background: none;
    width: 20px;
    margin: 0;
    padding: 0;
  }
}

.rate-chat {
  background: $color-white;
  @include  border-radius ($radius: 5px);
  padding: 40px 16px 16px;
  @include box-shadow (0px 1px 3px $color-shadow);
}

h3.title-rate-chat {
  font-size: $font-size__base;
  line-height: 20px;
  text-align: center;
  margin: 0;

}

ul.items-star {
  @extend .list-reset;
  @extend .flex-center-center;
  padding: 28px 0 26px;
  .item-star{
    font-size: 23px;
    color: $color-yellow;
    padding-left: 13px;
   &.disabled{color: $color-gray1;}
  }
}
.comment-chat{
  h4{
    line-height: 20px;
    font-size: $font-size__base;
    margin: 0;
    padding-bottom: 4px;
  }
  .textarea{
    textarea{
      @include box-shadow (0px 1px 3px $color-shadow);
      @include  border-radius ($radius: 4px);
      border: none;
      width: 100%;
    }
  }
}
.choose-option-comment{
  @extend .list-reset;
  @extend .flex;
  scrollbar-width: none;
  @extend .hide-scrollbar;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 12px;
  padding-bottom: 1px;
  .item-option-comment{
    margin-right: 12px;
    border: 1px solid $color-black-light1;
    padding: 7px 12px 8px;
   @include border-radius ($radius: 5px);
  }
}
.button-rate-chat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 24px;
}
.popup-rate-chat{
  position: relative;
  .btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
  }
}







