.order-summary-content{
  padding: 15px 0 30px;
}
.shipping-address{
  .shipping-address-items{
    position: relative;
    padding: 12px 8px 10px 44px;
  }
  .icon-address{
    position: absolute;
    top: 14px;
    left: 4px;
    font-size: 21px;
  }
  .customer-info{
    margin: 0 0 5px;
  }
  .customer-address{
    margin: 0 0 5px;
  }
}
.order-page{
  min-height: calc(100vh - 58px);
}
.or-style{
  @extend .relative;
  &:before{
    background: $color-gray-light1;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 2px;
    width: 100%;
  }
}