//General
.btn-view-all{
  min-width: 120px;
  height: 32px;
  font-size: $font-size__base;
}
.home__title{
  @extend .text-title;
  background: url("../../images/image/bg_title.svg") no-repeat center center / 100% !important;
  margin: 0;
  padding: 9px 15px 3px;
}
.home__title2{
  @extend .text-title;
  margin-bottom: 8px;
  padding: 0 92px;
  position: relative;
  text-transform: uppercase;
  &:before,
  &:after{
    background: $color-main;
    content: "";
    height: 16px;
    width: 76px;
    position: absolute;
    top: 0;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
}
.block__title{
  margin-bottom: 5px;
  .block__headline{
    font-size: $font-size__base;
    font-weight: $font-weight__bold;
    margin: 0;
  }
}
//End General

//FlashSale
.home__flashsale{
  .countdown-item{
    @extend .flex;
    font-size: 14px;
    min-width: 40px;
    &:not(:first-child):before{
      content: ':';
      display: inline-block;
      margin: 0 5px 0 2px;
      line-height: 24px;
      font-weight: bold;
    }
  }
  .swiper{
    padding-bottom: 10px;
  }
  .swiper-wrapper{
    height: auto;
  }
  .swiper-slide{
    justify-content: flex-start;
    text-align: left;
    height: auto;
  }
  .swiper-pagination{
    display: flex;
    justify-content: center;
    padding-right: $layout__width-md-indent;
    bottom: 2px;
  }
  .swiper-container{
    padding-bottom: 10px;
  }
  > .container{
    padding-top: 15px;
  }
  .fs-row-title{
    margin-bottom: 10px;
  }
  .price-wrap{
    @extend .flex;
    @extend .flex-wrap;
    align-items: center;
    justify-content: space-between;
  }
  .special-price{
    order: -1;
    margin-right: 6px;
  }
}
//End FlashSale


//TopSearch

.home__topsearch{
  .home__title{
    margin-bottom: 10px;
  }
  .category-top{
    padding-left: 40px;
    padding-right: 40px;
  }
  .category-icon{
    @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.2));
    @include border-radius (50%);
    overflow: hidden;
    max-width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 7px;
  }
  .category-item{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
//End TopSearch

//HomeHotSale
.home__hotsales{
  margin-bottom: 16px;
  .product-sales{
    margin-top: -62px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
  }
  .product-sales-list{
    @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.35));
    @include border-radius(4px);
    background: rgba(255,255,255,.3);
    margin-bottom: 10px;
    padding: 3px;
  }
  .product-photo{
    @include border-radius(3px);
    overflow: hidden;
  }
  .product-item{
    box-shadow: none;
  }
  //.product-item-detail{
  //  padding: 0;
  //}
}
//End HomeHotSale

.home__sales {
  background-color: $color-white;
}
//DownloadApp
.download-app{
  border-bottom: 4px solid $color-gray-light1;
  padding-bottom: 16px;
  margin-bottom: 16px;
  .download-des{
    margin: 0 0 13px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .banner-download{
    margin-bottom: 7px;
  }
}
//End DownloadApp


//HomeSuggestion
.home__suggestion{
  .special-price{
    font-size: 20px;
  }
}
//End HomeSuggestion
