
.list-info-size{
  width: 100%;
  padding-left: 10px;
  .item__info-name{
    @extend .text-lg;
    margin: 0 0 8px;
  }
  .item__info-sex{
    margin: 0;
    line-height: 20px;
  }
  .item__info-edit{
    margin: 8px 0;
    button{
      background: none;
    }

  }
}
.form-item-size{
  margin-top: 16px;
  label{
    @extend .text-lg;
    margin-bottom: 4px;
    display: block;
  }
  .options-item{
    label{margin-bottom: 0}
  }
  .form-address-add-item_input{
    margin-bottom: 16px;
    input.value-center{
      text-align: center;
      color: $color-main;
      @extend h2;
      line-height: 24px;
    }
  }
}
.table-size {
  img{
    width: 100%;
  }
}