.items-notication{
  margin-top: 9px;
  border-top:1px solid $color-gray-light2 ;
}
.item-notification{
  padding: 7px 0;
  @extend .flex-center;
  .item-noti-img{
    height: 54px;
    width: 54px;
    background: $color-white;
    @extend .flex-center-center;
    @include border-radius ($radius: 50%);
    @include box-shadow (0px 1px 3px $color-shadow);
  }
  .desc{
    width: calc(100% - 54px);
    padding-left: 16px;

  }
  .item-noti_desc{
    .item-noti_desc__title{
      margin: 0 0 4px;
      font-size: $font-size__base;
      line-height: 20px;
    }
    p{
      @extend .text-xs;
      line-height: 12px;
      color: $color-gray1;
      margin: 0 0 4px;
      width: 92%;
    }
  }
  .item-noti_right{
    @extend .flex-center-center;
    .item-noti_right__count{
   padding: 3px;
    background: $color-red2;
    color: $color-white;
    @include border-radius ($radius: 50%);
    @extend .text-xs;
    @extend .flex-center-center;
    }
    .item-noti_right__arrow{
      padding-left: 11px;
    }
  }
}
.items-update-order{
  .title-update-order{
    margin: 0;
    @extend .text-lg;
    border-bottom: 1px solid $color-gray-light2;
    padding:9px 0 ;
  }
}
.item-update-order{
  @extend .flex;
  padding: 4px 0;
  border-bottom: 1px solid $color-gray-light1;
  .item-update-order_desc{
    padding: 13px 0 0 8px;
    .item-update-order__title{
      margin: 0 0 4px;
      font-size: $font-size__base;
      line-height: 20px;
    }
    p{
      @extend .text-xs;
      line-height: 12px;
      color: $color-gray1;
      margin: 0 0 4px;
      width: 92%;
    }
  }
}
.content-detail-noti{
  button{
    background: $color-black-light1;
    @extend .text-lg;
    padding: 2px 8px;
    color: $color-white;
    @include border-radius ($radius: 4px);
    margin: 14px auto 10px;
    display: block;
  }
  .desc-detail-noti{
    .desc-detail-noti-title{
      margin: 0;
      @extend .text-lg;
      padding-bottom: 4px;
      border-bottom: 1px solid $color-gray-light2;
    }
  }
}