//.order-history-tab{
//  .tab-items{
//    .tab-item{
//      width: calc(100% / 3);
//      text-align: center;
//    }
//  }
//}

.md .order-history-tab{
  background: #f7f7f7
}


//OrderHistoryItemProduct
.order-history-item_bottom{
  display: table;
  width: 100%;
  margin-bottom: 16px;
}
.order-history-item{
  display: table;
  width: 100%;
}
.order-history-item_top{
  padding:15px 0 9px;
  margin-bottom: 8px;
  border-bottom:1px solid  $color-gray-light2;
  h3{
    margin: 0;
    @extend .text-lg;
  }
  button{
    background: none;
  }
}
.order-history-item_middle{
  .status-order-history {
    font-size: $font-size__base;
    margin: 0 -16px;
    padding: 12px $layout__width-md-indent;
  }
}
.order-history-item_bottom{
  .item_bottom__items{
    .item_bottom__item{
      border-bottom: 1px solid $color-gray-light1;
      padding: 6px 0;
      line-height: 20px;
    }
  }
  button{
    width: 120px;
    @extend  .btn-lg;
    display: inline-block;
    float: right;
    margin-top: 8px;
  }
}