.status-order-history{
  .txt-status{
    @extend .flex;
    flex-direction: column;
    span:first-child{
      padding-bottom: 8px;
    }
  }
}
.order-Details-list-item{
  .btn-add-address{
    margin: 5px auto 13px;
  }
}
.order-detail-content{
  padding: 15px 0 30px;
  color: $color-black-light1;
  .title-account{
    h2{
      @extend .text-lg;
      margin: 0;
    }
    .code{}
  }
}
.promo-detail{
  line-height: 20px;
  padding-top: 4px;
}
