.toolbar-product{
  padding: 7px 0;
  .sum-products{
    margin: 0;
  }
  .icon-sorter{
    padding-top: 2px;
    padding-left: 6px;
  }
  //.col-filter{
  //  margin-top: -9px;
  //}
  .mr-row{
    margin-left:-3px ;
    margin-right: -3px;
    ion-col{
      padding: 3px !important;
    }
  }

}
.toolbar-product-item{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  line-height: 32px;
  padding: 0 6px;
  .category-list-item{
    img{    margin-left: 11px;}
  }
}