.items-question-home.list-reset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px 0;
  .item-question-home {
    height: 177px;
    @include box-shadow (0px 1px 3px $color-shadow);
    @include border-radius ($radius: 12px);
    padding: 12px;
    text-align: center;
    .img-question-home {
        height: 60px;
        margin: 15px 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h4{
      @extend h2;
      line-height: 24px;
      margin: 0;
    }
  }
}
.list-question{
  padding: 30px 0;
  .title-question-detail{
    margin: 0;
    text-transform: uppercase;
    @extend .text-lg;
    border-bottom: 1px solid $color-gray-light2;
    padding-bottom: 9px;
  }
  .items-question{
    .item-question{
      padding:11px 0 9px 16px;
      border-bottom: 1px solid $color-gray-light2;
      .title-item-question{
        h4{
          font-size: $font-size__base;
          line-height: 20px;
          margin: 0;
        }
      }
      .desc-item-question{
        p{
          @extend .text-small;
        }
      }
    }
  }
}