@keyframes pulse {
  0% {
    opacity: 1;
  }
  20% {
    opacity: .7;
  }
  40% {
    opacity: .5;
  }
  60% {
    opacity: .7;
  }
  80% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}
.animate-pulse{
  background: #DDDDDD;
  animation: pulse 2s infinite;
}