ion-button {
  text-transform: none;
}
.ion-color-link{
  --box-shadow: 0;
}
.ion-color-nobg{
  --box-shadow: 0;
}
.ion-button-no-padd{
  --padding-start: 0;
  --padding-end: 0;
}
.ion-button-pd-xs{
  --padding-start: 6px;
  --padding-end: 6px;
  height: auto;
}
.btn-link{
  background: transparent;
  padding: 0;
}
.btn-white-main{
  background: $color-white;
  color: $color-main;
}
.btn{
  @include border-radius(4px);
  color: inherit;
  font-weight: 600;
  padding: 3px 20px;
  &.round{
    @include border-radius(20px);
  }
}
.btn-xl{
  height: 40px;
}
button{
  @extend .text-base;
  color: inherit;
  &[disabled]{
    background: $color-gray-light2;
    pointer-events: none;
  }
}
.btn-md{
  padding: 3px 17px;
  height: 28px;
}
.btn-lg{
  padding: 3px 20px;
  height: 32px;
}
.btn-fs{
  height: 40px;
  width: 100%;
}
.btn-fs-32{
  height: 32px;
  width: 100%;
}
.btn-xs{
  font-size: 10px;
  height: 16px;
  padding: 2px 12px;
  font-weight: $font-weight__regular;
}
.btn-pd-xs{
  padding-left: 5px;
  padding-right: 5px;
}
.btn-main{
  @extend .btn;
  background: $color-main;
  color: $color-white;
}
.btn-reset{
  @extend .btn;
  border: 1px solid $color-gray1;
  background: $color-white;
  color: $color-gray1;
}
.btn-reset-black{
  @extend .btn;
  border: 1px solid $color-text;
  background: $color-white;
  color: $color-text;
}
.btn-black{
  @extend .btn;
  background: $color-text;
  color: $color-white;
}
.btn-link-white{
  @extend .btn-link;
  color: $color-white;
}
.btn-list-item{
  @extend .btn-link;
  border-bottom: 1px solid $color-gray-light1;
  color: inherit;
  font-size: 16px;
  font-weight: $font-weight__semibold;
  text-align: left;
  padding: 12px 25px 11px 16px;
  position: relative;
  width: 100%;
}
.btn-arrow-right{
  position: relative;
  &:after{
    @extend .flex-center;
    content: "\f054";
    font-family: $font5;
    font-weight: 400;
    font-size: 14px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 8px;
  }
}