$color-white: #ffffff;
$color-black: #000000;
$color-main: #C12229;
$color-black-light1: #333333;
$color-black-light1-contrast: rgba(255,255,255,255);
$color-green1: #2dd36f;
$color-green2: #237804;
$color-red1: #F5222D;
$color-red2:#CF1322;
$color-yellow: #FFC53D;
$color-red-light1: #FF7875;
$color-gray1: #777777;
$color-gray1-contrast: rgba(255,255,255,.7);
$color-gray-light1: #EEEEEE;
$color-gray-light2: #BBBBBB;
$color-gray-light3: #FAFAFA;
$color-main-light1: #E89EA1;
$color-warning:#D48806;
$bg-success:#F6FFED;
$bg-error:#FFE9E9;
$bg-warning:#FFFBE6;
$color-blue: #096DD9;

$text-secondary: $color-gray1;
$color-text: $color-black-light1;
$color-text-contrast: $color-black-light1-contrast;
$color-error: $color-red1;
$color-success: $color-green2;
$color-shadow: rgba(0, 0, 0, 0.45);
$color-shadow-contrast: rgba(255,255,255, 0.45);
$text-success: #389E0D;

:root {
  --color-text: #{$color-text};
  --color-text-gray: #{$color-gray1};
  --color-shadow: #{$color-shadow}
}

//@media (prefers-color-scheme: dark) {
//  body{
//    --color-text-gray: #{$color-gray1-contrast};
//    --color-text: #{$color-text-contrast};
//    --color-shadow: #{$color-shadow-contrast}
//  }
//}
