
$font-family--base: "Josefin Sans";
$font5: "Font Awesome 5 Pro";

@font-face {
  font-family: "Josefin Sans";
  src: url('../../font/JosefinSans/JosefinSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url('../../font/JosefinSans/JosefinSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Josefin Sans";
  src: url('../../font/JosefinSans/JosefinSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url('../../font/JosefinSans/JosefinSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Josefin Sans";
  src: url('../../font/JosefinSans/JosefinSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url('../../font/JosefinSans/JosefinSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Josefin Sans";
  src: url('../../font/JosefinSans/JosefinSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url('../../font/JosefinSans/JosefinSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  src: url('../../font/Fontawesome5/fa-light-300.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  src: url('../../font/Fontawesome5/fa-regular-400.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Font Awesome 5 Pro";
  src: url('../../font/Fontawesome5/fa-solid-900.ttf');
  font-weight: 900;
  font-style: normal;
}