$input-height: 40px;
$input-border-color: $color-gray-light1;

input,
.input{
  @include border-radius(4px);
  @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.45));
  background: $color-white;
  border: 1px solid $input-border-color;
  color: $color-black-light1;
  height: $input-height;
  font-family: $font-family__base;
  padding: 0 $layout__width-md-indent;
  width: 100%;

  &:focus-visible {
    outline: 0;
  }
  &.mage-error{
    color: $color-red1;
    border-color: $color-red1;
  }
  &.size-lg{
    font-size: 24px;
    height: 52px;
    width: 52px;
  }
  .size-lg &{
    font-size: 24px;
    height: 52px;
    width: 52px;
  }
  &.input-no-border{
    border: 0;
  }
  .mage-error &{
    color: $color-red1;
    border-color: $color-red1;
  }
}
form,
.form{
  .field{
    margin-bottom: 16px;
    position: relative;
    .btn-delete{
      color: $color-gray-light2;
      position: absolute;
      top: 13px;
      right: 13px;
    }
  }
  .error-message{
    color: $color-error;
    margin-top: 11px;
  }
}
.label-input {
  display: block;
  position: relative;
  line-height: 22px;
  > .label{
    @extend .flex-center;
    @extend .flex-content-bw;
    position: relative;
    padding-left: 32px;
    &.text{
      display: block;
    }
  }

  input[type="checkbox"],input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    height: 20px;

    & + .label {
      &:before {
        border: 2px solid $color-black-light1;
        background: $color-white;
        @include border-radius(6px);
        content: "";
        height: 20px;
        position: absolute;
        top: 0;
        left: 2px;
        width: 20px;
      }

      &:after {
        @extend .flex-center-center;
        background: url("../../images/icons/icon-check-white.svg") no-repeat center center / 16px 13px;
        content: "";
        position: absolute;
        top: 0;
        left: 2px;
        height: 20px;
        width: 20px;
        opacity: 0;
        @include transition(.3s all ease);
      }
    }

    &:checked {
      & + .label {
        &:before {
          border-color: $color-black-light1;
          background: $color-black-light1;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }
  .label-input-gray &{
    input[type="checkbox"],input[type="radio"]{
      &:checked + .label:before{
        background: $color-gray-light2;
        border-color: $color-gray-light2;
      }
    }
  }
}
.text-lg-semi{
  > .label{
    padding-left: 40px;
  }
}
.input-field{
  @extend input;
}
.input-field-lg{
  font-size: 20px;
  font-weight: $font-weight__semibold;
}
.form-inline-button{
  @extend .flex;
  @extend .flex-wrap;
  justify-content: space-between;
  .field{
    width: calc(100% - 56px);
  }
  .btn-inline-field{
    font-size: 24px;
    height: 40px;
    padding: 0;
    width: 40px;
  }
}