$layout__width-xs-indent: 6px;
$layout__width-md-indent: 16px;

*, *:before, *:after {
  box-sizing: border-box;
}
.hide-scrollbar{
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  &::-webkit-scrollbar {
    display: none !important;
  }
}
.ion-page{
  @extend .mr-auto;
  @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.1));
  max-width: 540px;
  width: 100%;
}
ion-content {
  //--offset-bottom: auto!important;
  //--overflow: hidden;
  //overflow: auto;
  //@extend .hide-scrollbar;
  z-index: 11;
  &.offset-bottom-0{
    --offset-bottom: 0px !important;
  }
}
ion-col{
  --ion-grid-column-padding: 6px;
}
