//Background
.bg-white{
  background: $color-white;
}
.bg-main{
  background: $color-main;
}
.bg-gray{
  background: $color-gray-light1;
}
.bg_overlay{
  &:before{
    background: rgba(0,0,0,.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}
.bg-cover{
  background-size: cover;
}
.bg-transparent{
  background-color: transparent;
}
.root-bg-transparent{
  --background: transparent;
}
//End Background

//Display
.disabled{
  opacity: .5;
  pointer-events: none;
}
.hidden{
  display: none;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.invisible{
  visibility: hidden;
}
.opacity-0{
  opacity: 0;
}
.flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}
.items-center{
  align-items: center;
}
.items-end{
  align-items: flex-end;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-col{
  flex-direction: column;
}
.flex-column{
  @extend .flex;
  flex-direction: column;
}
.flex-center{
  @extend .flex;
  align-items: center;
}
.flex-center-center{
  @extend .flex-center;
  justify-content: center;
}
.flex-content-bw{
  justify-content: space-between;
}
.justify-content{
  justify-content: center;
}
.flex-shrink{
  flex-shrink: 1;
}
.grid{
  display: grid;
}
.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.gap-x-6{
  column-gap: 24px;
}
.gap-x-8{
  column-gap: 32px;
}
//End Display

//Container
.container{
  @extend .pd-horizon;
}
.un-container{
  margin-left: - $layout__width-md-indent !important;
  margin-right: - $layout__width-md-indent !important;
}
.container-onlyl{
  margin-right: - $layout__width-md-indent !important;
}
//End Container

//Max-width
.max-w-70{
  max-width: 70px;
}
.max-w-160{
  max-width: 160px;
}
.max-w-265{
  max-width: 265px;
}
.max-w-284{
  max-width: 284px;
}
.max-w-340{
  max-width: 340px;
}
.max-w-container{
  max-width: calc(100% - 32px);
}
//End Max-width

//Width
.w-34{
  width: 34px;
}
.w-full{
  width: 100%;
}
.root-w-full{
  --width: 100%;
}
.w-screen{
  width: 100vw;
}
.root-w-screen{
  --width: 100vw;
}
.h-full{
  height: 100%;
}
.root-h-full{
  --height: 100%;
}
.w-auto{
  width: auto;
  .button-native{
    width: auto;
  }
}
.w100p{
  @extend .w-full;
}
//End Width

//Height
.h-34{
  height: 34px;
}
.h-80vh{
  height: 80vh;
}
.h-screen{
  height: 100vh;
}
.root-h-screen{
  --height: 100vh;
}
//End Height

.max-h-18{
  max-height: 18px;
}
//End Max Height

//Margin
.no-mr,
.m-0{
  margin: 0 !important;
}
.mr-row{
  margin-left: - $layout__width-xs-indent;
  margin-right: - $layout__width-xs-indent;
}
.mgb-block{
  margin-bottom: 4px;
}
.mr-auto,
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.mgb-0{
  margin-bottom: 0 !important;
}
.mgb-7{
  margin-bottom: 7px;
}
.mrt-5{
  margin-top: 5px;
}
.mb-4{
  margin-bottom: 4px;
}
.mb-12{
  margin-bottom: 12px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-18{
  margin-bottom: 18px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-28{
  margin-bottom: 28px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-32{
  margin-bottom: 32px;
}
.mt-0{
  margin-top: 0;
}
.my-0{
  margin-bottom: 0;
  margin-top: 0;
}
.mr-0{
  margin-right: 0;
}
//End Margin

//Min-height
.min-h-full{
  min-height: 100%;
}
.min-h-screen{
  min-height: 100vh;
}
.root-min-h-30{
  --min-height: 30px;
}
//End Min-height

//Padding
.no-padd{
  padding: 0;
}
.pd-lft-rght{
  padding-left:10px ;
  padding-right: 10px;
}
.pd-item-detail{
  padding-left: 4px;
  padding-right: 4px;
}
.pd-horizon{
  padding-left: $layout__width-md-indent !important;
  padding-right: $layout__width-md-indent !important;
}
.pd-vertical{
  padding-top: $layout__width-md-indent !important;
  padding-bottom: $layout__width-md-indent !important;
}
.pd-vertical-md{
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.pdt-indent{
  padding-top: $layout__width-md-indent;
}
.pd-indent{
  padding: $layout__width-md-indent;
}
.pdt-indent-md{
  padding-top: 12px;
}
.pdb-indent-md{
  padding-bottom: 12px;
}
.pdt-70{
  padding-top: 70px;
}
.pdt-50{
  padding-top: 50px;
}
.pt-40{
  padding-top: 40px !important;
}
.pt-16{
  padding-top: 16px;
}
.pb-16{
  padding-bottom: 16px;
}
.pb-40{
  padding-bottom: 40px;
}
.px-12{
  padding-left: 12px;
  padding-right: 12px;
}
.px-16{
  padding-left: 16px;
  padding-right: 16px;
}
.py-4{
  padding-bottom: 4px;
  padding-top: 4px;
}
.py-8{
  padding-bottom: 8px;
  padding-top: 8px;
}
.py-16{
  padding-bottom: 16px;
  padding-top: 16px;
}
.py-32{
  padding-bottom: 32px;
  padding-top: 32px;
}
.pr-12{
  padding-right: 12px;
}
//End Padding

//Fill svg image
.fill-text-gray{
  fill: var(--color-text-gray);
}
.fill-current{
  fill: currentColor;
}
.fill-transparent{
  fill: transparent;
}
//End Fill svg image

//Image
.img-block{
  &,
  & img{
    display: block;
    width: 100%;
  }
}
img{
  &.round{
    @include border-radius(50%);
  }
}
.img-cover{
  height: 100%;
  object-fit: cover;
  width: 100%;
}
svg{
  @extend .fill-current;
}
.img-scale{
  @extend #{".block", ".relative", ".overflow-hidden"};
  &:before{
    @extend .block;
    content: "";
  }
  .image{
    @extend #{".block", ".absolute", ".w-full", ".h-full"};
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
  }
}
.scale-150{
  &:before{
    padding-bottom: 150%;
  }
}
.scale-skeleton{
  &:before{
    @extend .animate-pulse;
  }
}
//End Image

//Position
.relative{
  position: relative;
}
.p_relative{
  @extend .relative;
}
.static{
  position: static;
}
.p_static{
  @extend .static;
}
.absolute{
  position: absolute;
}
.sticky{
  position: -webkit-sticky;
  position: sticky;
}
.fixed{
  position: fixed;
}
.left-0{
  left: 0;
}
.right-0{
  right: 0;
}
.right-20{
  right: 20px;
}
.-right-20{
  right: -20px;
}
.right-25{
  right: 25px;
}
.top-0{
  top: 0;
}
.top-13{
  top: 13px;
}
.top-25{
  top: 25px;
}
.-top-20{
  top: -20px;
}
.bottom-0{
  bottom: 0;
}
.inset-x-0{
  @extend .left-0;
  @extend .right-0;
}
.inset-y-0{
  @extend .top-0;
  @extend .bottom-0;
}
.inset-0{
  @extend .inset-x-0;
  @extend .inset-y-0;
}
//End Position

//Border-radius
.rounded{
  @include border-radius(50%);
}
.rounded-0{
  @include border-radius(0);
}
.rounded-4{
  @include border-radius(4px);
}
.rounded-8{
  @include border-radius(8px);
}
.rounded-13{
  @include border-radius(13px);
}
//End Border-radius

//List
.unstyled{
  list-style: none;
}
.list-reset{
  @extend .unstyled;
  margin: 0;
  padding: 0;
}
//End List

//ScrollBar
.item-scrollbar{
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-gray-light2;
    border-radius: 2.5px;
  }
}
.scrollbar-light{
  @extend .item-scrollbar;
  &::-webkit-scrollbar-thumb {
    background-color: #dddddd;
  }
}
.item-scrollbar-transparent{
  @extend .item-scrollbar;
  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid transparent;
  }
}
//End ScrollBar

//Separator
hr{
  background: $color-gray-light1;
  height: 4px;
  margin: 0;
}
.h-8{
  background: $color-gray-light1;
  height: 8px;
  margin: 0;
}
//End Separator

//Z-index
.z-10{
  z-index: 10;
}
.zIndex-full{
  z-index: 99999;
}
//End Z-index

//Order
.orderFirst{
  order: -1;
}
.orderLast{
  order: 9999;
}
//End Order

//Overflow
.overflow-hidden{
  overflow: hidden;
}
//End Overflow

.cursor-pointer{
  cursor: pointer;
}
//Style General
.border-b{
  border-bottom: 1px solid $color-gray-light2;
}
.border-b-2{
  border-bottom: 2px solid $color-gray-light1;
}
.block__bb{
  border-bottom: 1px solid $color-gray-light2;
  padding-bottom: 8px;
}
.tab-over-horizon{
  overflow-x: auto;
  white-space: nowrap;
  //@extend .hide-scrollbar;
  @extend .item-scrollbar;
  padding-bottom: 10px;
  .tab-item{
    font-size: 10px;
    display: inline-block;
  }
}
.option-dropdown{
  height: 0;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  @include transition(.3s max-height ease);
  .dropdown-parent.active &{
    height: auto;
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
  }
}
.title-dropdown{
  @extend .btn-arrow-right;
  &:after{
    @include transition(.3 all ease);
  }
  .dropdown-parent.active &{
    &:after{
      @include rotate(90deg);
    }
  }
}
.pages-title{
  font-size: 18px;
  margin: 0;
  width: calc(100% - 40px);
  .btn-back + &{
    width: calc(100% - 80px);
  }
}
ion-toolbar{
  &[pt-0]{
    padding-top: 0 !important;
  }
  &[p-0]{
    padding: 0 !important;
  }
}
//End Style General









