.table{
  margin-left: -10px;
  width: calc(100% + 20px);
  tr{
    >th,
    > td{
      font-weight: $font-weight__semibold;
      padding: 4px 10px;
    }
    > th{
      text-align: left;
    }
    > td{
      text-align: right;
    }
  }
}
