$font-weight__regular: 400;
$font-weight__medium: 500;
$font-weight__semibold: 600;
$font-weight__bold: 700;

$font-size__base: 14px;


:root{
  --ion-font-family: $font-family--base;
}
body{
  color: var(--color-text);
  font-size: $font-size__base;
  font-family: $font-family--base;
  font-weight: $font-weight__regular;
  //line-height: 1.4285;
}
h1, h2, h3, h4, h5, h6{
  font-weight: $font-weight__semibold;
}
h2{
  font-size: 20px;
}
.text-base{
  font-size: $font-size__base;
}
.text-right{
  text-align: right;
}
.text-small{
  font-size: 12px;
}
.text-xs{
  font-size: 10px;
}
.text-lg{
  font-size: 17px;
  line-height: 20px;
}
.text-lg-semi{
  @extend .text-lg;
  font-weight: $font-weight__semibold;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-white{
  color: $color-white;
}
.text-main{
  color: $color-main !important;
}
.text-success{
  color: $text-success;
}
.text-blue{
  color: $color-blue;
}
.text-gray{
  color: $text-secondary;
}
//.text-gray{
//  color: var(--color-text-gray);
//}
.text-color-base{
  color: var(--color-text);
}
.text-black{
  color: $color-black;
}
.text-light{
  color: $color-gray-light2;
}
.text-title{
  font-size: 16px;
  font-weight: $font-weight__semibold;
}
.text-underline{
  text-decoration: underline;
}
.text-1line{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.fw-600{
  font-weight: $font-weight__semibold;
}
.font-semibold{
  font-weight: $font-weight__semibold;
}
p{
  margin-block-start: 16px;
  margin-block-end: 16px;
}
.status-success{
  color: $color-green2;
  background: $bg-success;
}
.status-error{
  color: $color-red2;
  background:$bg-error;
}
.status-warning {
  color: $color-warning;
  background: $bg-warning;
}
.uppercase{
  text-transform: uppercase;
}
//Link
a{
  color: $color-black-light1;
  text-decoration: none;
}
//End Link
