:root {
  /** primary **/
  --ion-color-primary: #C12229;
  --ion-color-primary-rgb: 193, 34, 41;
  --ion-color-primary-contrast: $color-white;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #333333;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #ffffff;
  --ion-color-tertiary-rgb: 255, 255, 255;
  --ion-color-tertiary-contrast: #333333;
  --ion-color-tertiary-contrast-rgb: 51, 51, 51;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** no-bg **/
  --ion-color-nobg: transparent;
  --ion-color-nobg-rgb: 255, 255, 255;
  --ion-color-nobg-contrast: #ffffff;
  --ion-color-nobg-contrast-rgb: 255, 255, 255;
  --ion-color-nobg-shade: #ffffff;
  --ion-color-nobg-tint: #ffffff;

  /** btnlink **/
  --ion-color-link: transparent;
  --ion-color-link-rgb: 255, 255, 255;
  --ion-color-link-contrast: #333333;
  --ion-color-link-contrast-rgb: 51, 51, 51;
  --ion-color-link-shade: #ffffff;
  --ion-color-link-tint: #ffffff;

  /** white **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #C12229;
  --ion-color-white-contrast-rgb: 193, 34, 41;
  --ion-color-white-shade: #4854e0;
  --ion-color-white-tint: #6370ff;
}

.ion-color-vertify {
  --ion-color-base: var(--ion-color-vertify);
  --ion-color-base-rgb: var(--ion-color-vertify-rgb);
  --ion-color-contrast: var(--ion-color-vertify-contrast);
  --ion-color-contrast-rgb: var(--ion-color-vertify-contrast-rgb);
  --ion-color-shade: var(--ion-color-vertify-shade);
  --ion-color-tint: var(--ion-color-vertify-tint);
}

.ion-color-nobg {
  --ion-color-base: var(--ion-color-nobg);
  --ion-color-base-rgb: var(--ion-color-nobg-rgb);
  --ion-color-contrast: var(--ion-color-nobg-contrast);
  --ion-color-contrast-rgb: var(--ion-color-nobg-contrast-rgb);
  --ion-color-shade: var(--ion-color-nobg-shade);
  --ion-color-tint: var(--ion-color-nobg-tint);
}

.ion-color-link {
  --ion-color-base: var(--ion-color-link);
  --ion-color-base-rgb: var(--ion-color-link-rgb);
  --ion-color-contrast: var(--ion-color-link-contrast);
  --ion-color-contrast-rgb: var(--ion-color-link-contrast-rgb);
  --ion-color-shade: var(--ion-color-link-shade);
  --ion-color-tint: var(--ion-color-link-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}
//@media (prefers-color-scheme: dark) {
//  body{
//    --ion-color-secondary: #333333;
//    --ion-color-secondary-rgb: 61, 194, 255;
//    --ion-color-secondary-contrast: #ffffff;
//    --ion-color-secondary-contrast-rgb: 255, 255, 255;
//    --ion-color-secondary-shade: #36abe0;
//    --ion-color-secondary-tint: #50c8ff;
//
//    --ion-color-link: transparent;
//    --ion-color-link-rgb: 255, 255, 255;
//    --ion-color-link-contrast: #ffffff;
//    --ion-color-link-contrast-rgb: 255, 255, 255;
//    --ion-color-link-shade: #ffffff;
//    --ion-color-link-tint: #ffffff;
//  }
//}
