.root {
  align-content: center;
  align-items: center;
  display: grid;
  gap: 3rem;
  justify-content: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  .indicator{
    position: absolute;
    left: 50%;
    top: 41%;
    margin: 0 0 0 -30px;
    z-index: 9;
  }
  .message{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.container {
  z-index: 1;
  .indicator_inner{
    margin: 0 auto;
    &:after {
      content: "";
      background: rgba(189, 189, 189, 0.2);
      left: 0;
      right: 0;
      bottom: 0px;
      top: 0;
      position: absolute;
      height: 100%;
      z-index: 1;
    }
  }
  span:not(.indicator-message) {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    z-index: 9;
  }
}

.message {
  color: rgb(var(--venia-global-color-text-alt));
  font-size: 1rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.indicator {
  animation-direction: alternate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes pulse {
  0% {
    filter: grayscale(1);
    transform: scale(0.75) rotate(-540deg);
  }
  100% {
    filter: grayscale(0);
    transform: scale(1) rotate(0deg);
  }
}

.ion-loading-container{
}


.ion-loading-global{
}
