.adrs-deli{
  border-bottom: 1px solid $color-gray-light2;
  padding-bottom: 9px ;
  margin-bottom: 0;
}
.wrap-address-item{
  border-bottom: 1px solid $color-gray-light1;
  padding: 20px 0;
  input[type="radio"]{
    & + .label{
      &:before,
      &:after{
        margin-top: -2px;
      }
      &:after{
        //background: url("../../images/icons/icon-circle-white.svg") no-repeat center center / 16px 9px;
        top: 50%;
        transform: translateY(-50%);
        background: $color-white;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        left: 8px;
      }
      &:before{
        border-radius: 50%;
        border-color: $color-gray-light2;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:checked + .label{
      &:before{
        background: $color-gray1;
        border-color: $color-gray1;
      }
    }
  }
  .list-address{
    width: 100%;
    padding-left: 10px;
  }
  .item__info-name{
    margin: 0;
    @extend .text-lg-semi;
  }
}

.wrap-s-itemelect{
  padding: 15px 0;
  input[type="radio"]{
    & + .label{
      &:before,
      &:after{
        margin-top: -2px;
      }
      &:after{
        //background: url("../../images/icons/icon-circle-white.svg") no-repeat center center / 16px 9px;
        top: 50%;
        transform: translateY(-50%);
        background: $color-white;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        left: 8px;
      }
      &:before{
        border-radius: 50%;
        border-color: $color-gray-light2;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:checked + .label{
      &:before{
        background: $color-gray1;
        border-color: $color-gray1;
      }
    }
  }
  .list-address{
    width: 100%;
    padding-left: 10px;
  }
  .item__info-name{
    margin: 0;
    @extend .text-lg-semi;
  }
}
.list-address{
  .list-address_item{
    .item__info-address{
      &:not(:empty){
        margin: 12px 0;
      }
    }
    .item__info-edit{
      button{
        background: none;
      }
    }
    p{
      margin: 0
    }
    .list-address_item__info{

      .item__info-name{
        @extend #{".text-lg", ".my-0"};
      }
    }
  }
}
.btn-add-address{
  background:none;
  margin: 18px auto ;
  cursor: pointer;
    img{
      width: 18px;
      padding-bottom: 6px;
    }
    span{
      font-size: $font-size__base;
      padding-left: 10px;
      line-height: 24px;
    }
}
// address-add
.form-address-add{
  position: relative;
}
.wrp-form-address-add {
    padding: 20px 0 129px;
}
.form-address-add-item {
  padding-bottom: 16px;
  label{
    display: block;
    margin-bottom: 4px;
    line-height: 20px;
  }
  .form-address-add-item_input{
    position: relative;
    img{
      position: absolute;
      right: 13px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  input::placeholder{
    font-size: $font-size__base;
    color: $color-black-light1;
  }
}
.custom-select-address-add{
  position: relative;
  font-size: 14px;
  select{
    @include border-radius(4px);
    @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.45));
    background: $color-white;
    border: 1px solid $input-border-color;
    color: $color-black-light1;
    height: $input-height;
    font-family: $font-family__base;
    padding: 0 $layout__width-md-indent;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('../../../../soa/assets/images/icons/icon-arrow-select.svg') no-repeat 97% center ;
  }


}
.custom-datetime{
  ion-item{
    @include border-radius(4px);
    @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.45));
    background: $color-white;
    border: 1px solid $input-border-color;
    color: $color-black-light1;
    height: $input-height;
    font-family: $font-family__base;
    padding: 0 30px 0 0;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('../../../../soa/assets/images/icons/icon-arrow-select.svg') no-repeat 97% center ;
    font-size: $font-size__base;
  }
}
.button-address{
  box-shadow: 0px 1px 3px rgb(0 0 0 / 45%);
  padding: 8px $layout__width-md-indent;
  position:fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: #fff;
  .btn-delete-address{
    color: $color-main;
    border: 1px solid $color-main;

  }

  .btn{
    margin-bottom: $layout__width-md-indent ;
  }
}
