.Toastify{
  @extend .zIndex-full;
}
.ios .Toastify__toast-container {
  padding-top:33px;
}
.Toastify__toast {
  @include border-radius(8px);
  color: var(--color-text);
  font-family: $font-family--base;
  max-width: calc(100vw - 40px);
  margin: 20px auto;
  padding: 12px 10px 10px;
  .Toastify__toast-body{
    @extend .text-center;
    @extend .text-lg-semi;
    display: block;
  }
  .Toastify__close-button{
    opacity: 1;
    position: absolute;
    top: 15px;
    right: 15px;
    > svg{
      fill: $color-text;
    }
  }
}
.Toastify__toast-icon{
  margin: 0 auto 10px;
  > svg{
    @extend .hidden;
  }
  .Toastify__toast--error &{
    background: url("../../images/icons/icon-warning.svg") no-repeat center center / 100%;
    width: 37px;
    height: 32px;
  }
  .Toastify__toast--info &{
    background: url("../../images/icons/icon-check-circle.svg") no-repeat center center / 100%;
    width: 35px;
    height: 34px;
  }
}