.code-exchange{
  .table-order-summary{
    margin-bottom: 8px;
  }
}
.title-reason{
  font-size: $font-size__base;
  line-height: 20px;
  margin: 0;
  padding-bottom: 4px;
}
.area-exchange{
  textarea{
    border: none;
    @include box-shadow (0px 1px 3px $color-shadow) ;
    @include border-radius ($radius: 5px);
    //color: $color-gray-light2;
    font-size: $font-size__base;
    width: 100%;
    font-size: 14px;
    padding: 12px;
  }
}

.desc-exchange {
  margin: 16px 0 8px;
}

.images-exchange {
  margin-bottom: 8px;
}
.items-images-exchange{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  .item-images-exchange{
    height: 100px;
    @include border-radius($radius:4px);
    @extend .flex-center-center;
    @include box-shadow (0px 1px 3px $color-shadow) ;
    overflow: hidden;
  }
}
.button-exchange{position: initial}
.button-disabled{
  background: $color-gray-light2;
}
.desc-popup {
  position: relative;
  background: $color-white;
  padding: 40px 16px 16px;
  @include border-radius ($radius: 5px);

  p {
    padding: 0 16px 0;
    text-align: center;
    line-height: 20px;
  }
  .btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
  }
}