//Filter
//.filter-options{
//  height: calc(100vh - 101px);
//  overflow: hidden;
//  overflow-y: auto;
//  @extend .hide-scrollbar;
//}
.add-to-cart-success-popup{
  .btn-close{
    background: none;
  }
}
.add-to-cart-success-popup::part(content){

    height: 230px;
    bottom: 0;
    position: absolute;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 100%;

}
.modal-filter::part(content) {
  max-width: 256px;
  width: 100%;
  height: 100vh;
  background: $color-white;
  left: initial;
}
.modal-filter{
  justify-content: flex-end;
  align-items: flex-start;
  .modal-wrapper{
    border-radius: 0;
    max-width: 256px;
    width: 100%;
    height: 100vh;
    background: $color-white;
    left: initial;
  }
  .modal-footer{
    .btn{
      width: 100%;
    }
  }
}
.btn-filter{
  background: url("../../images/icons/icon-filter.svg") no-repeat center center / 17px 11px;
  margin: 0 0 3px 11px;
  height: 11px;
  letter-spacing: 0;
  width: 17px;
}
.label-input{
  .swatch-color{
    @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.45));
    @include border-radius(50%);
    border: 1px solid $color-white;
    display: block;
    height: 20px;
    width: 20px;
  }
}
.block__filter{
  //padding-bottom: 30px;
  .filter-option-content{
    @extend .option-dropdown;
  }
  .filter-title{
    margin: 0 0 18px;
  }
  .filter-item{
    margin-bottom: 11px;
  }
  .am-filter-items{
    @extend .item-scrollbar;
    max-height: 191px;
    overflow-y: auto;
    padding-right: 25px;
  }
  .am-filter-item{
    &:not(:last-child){
      margin-bottom: 14px;
    }
  }
  .filter-option-title{
    @extend .title-dropdown;
    font-size: 16px;
    border-bottom: 2px solid $color-gray-light1;
    margin: 0 0 13px;
    padding: 9px 20px 9px 0;
  }
  [datatype="attr-category"]{
    margin-bottom: 0;
    .am-filter-items{
      @extend .flex;
      @extend .flex-wrap;
    }
    .am-filter-item{
      margin-bottom: 12px;
    }
    .filter-option-title{
      display: none;
    }
    .label-input {
      input[type=checkbox] {
        & + .label{
          @include border-radius(4px);
          border: 1px solid var(--color-text);
          font-size: 12px;
          margin-right: 8px;
          padding: 4px 12px;
          &:before,
          &:after{
            display: none;
          }
        }
        &:checked + .label{
          background: $color-black-light1;
          color: $color-white;
        }
      }
    }
  }
}
.list-filter-content{padding: 0 16px;}
.border{
  border-top:1px solid $color-gray-light2;
}