.form-minisearch{
  .label{
    color: $color-black-light1;
    position: absolute;
    top: 0;
    left: 17px;
    height: 100%;
  }
  .input-search{
    border: 0;
    padding-left: 44px;
  }
}

.page-header{
  //margin-bottom: 15px;
  .page-header-no-mrb &{
    margin-bottom: 0;
  }
  .header-content{
    background: $color-main;
    padding: 15px $layout__width-md-indent 11px;
  }
  .count-number{
    @extend .btn-white-main;
    @extend .flex-center-center;
    @include border-radius(50%);
    position: absolute;
    top: -7px;
    right: -9px;
    padding: 2px;
    height: 16px;
    width: 16px;
  }
  .block-search{
    padding-right: 8px;
    width: calc(100% - 80px);
  }
  .header__action{
    width: 40px;
  }
  .btn-action-xs{
    width: 20px;
  }
  .btn-back{
    padding: 10px 5px;
    text-align: left;
    width: 40px;
    & + .block-search{
      width: calc(100% - 120px);
    }
  }
}
.header-logo-inline{
  .btn-back{
    padding-left: 0;
    width: 20px;
    & + .block-search{
      padding-right: 0;
      width: calc(100% - 80px);
    }
  }
}