//Menu Nav
.arrow-icon{
  &:after{
    background: url("../../images/icons/arrow-right.svg") no-repeat center center / 7px 12px;
    content: "";
    display: block;
    width: 7px;
    height: 12px;
  }
}
.item-menu{
  position: relative;
  .menu-link{
    display: block;
    font-size: 16px;
    font-weight: $font-weight__semibold;
    padding: 14px 0 13px;
  }
  .item-dropdown{
    @extend .flex-center;
    @extend .arrow-icon;
    justify-content: flex-end;
    height: 45px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 9px;
    &:after{
      @include transition(.3s all ease);
    }
  }
  &.item-hot{
    > .menu-link{
      color: $color-main;
    }
  }
  &.level0{
    &:not(:last-child){
      border-bottom: 1px solid $color-gray-light2;
    }
    > .menu-link{
      text-transform: uppercase;
      padding: 16px 0;
    }
    .item-dropdown{
      height: 50px;
    }
  }
  &.parent{
    > .menu-link{
      padding-right: 50px;
    }
    &.active{
      > .item-dropdown{
        &:after{
          @include rotate(90deg);
        }
      }
    }
  }
  &.level2{
    .menu-link{
      font-size: $font-size__base;
      font-weight: $font-weight__regular;
    }
  }
  .groupmenu-drop{
    padding-left: $layout__width-md-indent;
    &.lv1{
      border-top: 1px solid $color-gray-light1;
    }
  }
}
.nav-fixed{
  & + *{
    @extend #{'.pt-40','.mrt-5'};
  }
}
//Menu Nav