.minicart-item{
  padding: 8px 0;
  .minicart-item-detail{
    @include box-shadow(0px 1px 3px var(--color-shadow));
    @extend .flex;
  }
  .product-photo{
    width: 100px;
    img{
      @extend .img-cover;
    }
  }
  .product-item-detail{
    padding: 8px 12px 8px 8px;
    width: calc(100% - 100px);
  }
  .product-name{
    margin-bottom: 10px;
  }
  .product-options{
    margin-bottom: 12px;
  }
  .option-item{
    margin-bottom: 4px;
    > span{
      margin-left: 4px;
    }
  }
  .price-box{
    margin-bottom: 10px;
  }
  .old-price{
    @extend .text-xs;
    font-weight: $font-weight__semibold;
  }
  .special-price{
    font-size: 20px;
    line-height: 24px;
    margin: 0 8px 0 0;
  }
  .form-qty{
    .qty-item{
      width: 24px;
      height: 24px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      padding: 0;
      margin: 0;
      box-shadow: none;
      border: none;
      text-align: center;
    }
    .qty-change{
      @extend .flex-center-center;
      background: $color-white;
      color: $color-black-light1;
      border: 1px solid $color-gray1;
    }
    .input-text{
      box-shadow: none;
      border: 0;
      font-size: 20px;
      text-align: center;
      margin: 0 8px;
      opacity: 1 !important;
      color: var(--color);
    }
  }
  .minicart-actions{
    padding-right: 10px;
  }
}
.price-box{
  @extend .flex-center;
  @extend .flex-wrap;
}