$header__height: 112px;

.modal-overlay{
  background: rgba(0,0,0,.5);
}
.btn-close{
  &:before{
    font-family: $font5;
    content: "\f00d";
    font-weight: 300;
    font-size: 20px;
  }
}
.modal-custom{
  //top: $header__height;
  .modal-footer{
    border-top: 2px solid $color-gray-light1;
    padding: 12px $layout__width-md-indent;
    .ion-row-btn{
      margin: 0 -16px;
      ion-col{
        padding: 0 16px;
      }
    }
  }
}
.modal-wrapper-full{
  @extend .root-h-full;
  --border-radius: 0;
  .modal-wrapper{
    height: 100%;
    width: 100%;
  }
}
.ios .aggregation-only{
  padding: 30px 0 30px 0;
}
.modal-wrapper-center{
  .ion-modal-content{
    @include border-radius(8px);
    @extend .mr-auto;
    background: $color-white;
    width: 340px;
    max-width: calc(100vw - 40px);
    position: relative;
  }
  .ion-page{
    justify-content: center;
  }
  .modal-wrapper{
    background: transparent;
    box-shadow: none;
  }
}
.modal-close{
  position: absolute;
  top: 15px;
  right: 20px;
}
.modal-transparent{
  #ion-react-wrapper{
    @extend #{".root-bg-transparent"};
  }
}
.modal-content-end{
  #ion-react-wrapper{
    @extend #{".flex", ".items-end"};
  }
}
.modalv2{
  position: fixed;
  @extend #{".inset-0"};
}
:root {
  ion-backdrop {
    opacity: 0.5;
    position: fixed;
    &,
    & + *,
    & ~ .action-sheet-wrapper{
      //@extend .zIndex-full;
      z-index: 200;
    }
  }
}
.alert-wrapper{
  z-index: 250 !important;
}
.modal-center{
  @extend #{".flex", ".items-center"};
}
.modal-end{
  @extend #{".flex", ".items-end"};
}
.modalv2-content{
  @extend #{".bg-white", ".mx-auto", ".w-full", ".relative", ".item-scrollbar"};
  .modal-full &{
    @extend #{".h-full", ".w-full"};
  }
  .modal-scroll &{
    max-height: 100vh;
    overflow-y: auto;
  }
  .modal-left &{
    margin-left: 0;
  }
  .modal-right &{
    margin-right: 0;
  }
  .modal-no-w &{
    display: inline-block;
    width: auto;
  }
  .modal-transparent &{
    background: transparent;
  }
}
