.nav-tab{
  .tab-items{
    overflow-x: auto;
    white-space: nowrap;
    @extend .scrollbar-light;
    //@extend .item-scrollbar;
  }
  .item-nav{
    display: inline-block;
  }
  .tab-item{
    border-bottom: 2px solid $color-gray-light2;
    color: $color-gray-light2;
    font-weight: $font-weight__semibold;
    padding: 9px $layout__width-md-indent ;
    display: inline-block;
    font-size: $font-size__base;
    line-height: 20px;
    &.active{
      border-bottom-color: $color-main;
      color: inherit;
    }
  }
  .full-2item{
    .tab-item{
      min-width: 50%;
    }
  }
}