.product-media{
  position: relative;
  .product-links{
    position: absolute;
    z-index: 99;
    bottom: 17px;
    right: 20px;
    .product-links_item{
      margin-top: 12px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      color: $color-gray1;
      background: $color-white;
      @include border-radius ($radius: 50%);
      @include box-shadow (0px 1px 3px $color-shadow);
      &.is-active{
        color:$color-main ;
      }
    }
  }
  .btn-position{
    position: absolute;
    top: 23px;
    left: 30px;
    z-index: 99;
    cursor: pointer;
  }
}
.swatch-size{
  .listbox{
    //margin-left: 10px;
    .options-item{
      @extend .btn-lg;
      @extend .btn-reset;
      border: 1px solid $color-black-light1;
      color: $color-black-light1;
      margin:0 0 10px 10px;
      padding: 3px 15px;
      &.active{
        background: $color-black-light1 ;
        color:$color-white ;
      }
      &:disabled{
        color: $color-gray-light2;
        border: 1px solid $color-gray-light2;
      }
    }
  }
  .label-input {
    .blur-active{
      color: $color-gray-light2;
      border: 1px solid $color-gray-light2;
    }
    input[type=radio] {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      height: 20px;
      & + .label{
        @include border-radius(4px);
        border: 1px solid $color-black-light1;
        font-size: 12px;
        margin:0 10px 10px 0;
        padding: 4px 8px;
        cursor: pointer;
        &:before,
        &:after{
          display: none;
        }
      }
      &:checked + .label{
        background: $color-black-light1;
        color: $color-white;
      }
    }
  }

}
.product-info-brand{
  @extend h2;
  font-weight: $font-weight__regular;
  color: $color-black-light1;
  margin:12px 0 4px
}
.product-info-name{
  @extend h2;
  color: $color-black-light1;
  font-weight: $font-weight__regular;
  margin: 4px 0;
}
.product-price{
  align-items: flex-end;
  border-bottom: 1px solid $color-gray-light2;
  padding-bottom: 12px;
  margin-bottom: 8px;
  .product-price_special{
    color:$color-main;
    font-weight: $font-weight__semibold;
    font-size: 24px;

  }
  .product-price_old-price{
    @extend .text-lg;
    padding-left: 16px;
    line-height: 1.2;
  }
}
.product-options{
  .size-guide{
    color: #003A8C;
    text-decoration-line: underline;
  }
  .swatch-attr{
    padding: 8px 0;
  }
  .attr-label{
    font-size: $font-size__base;
    line-height: 20px;
  }
  .swatch-color{
    .swatch-item{
      border:3px solid transparent;
      width: 20px;
      height: 20px;
      @include border-radius(50%);
      margin-left: 10px;
      transition: .3s all ease;
      padding: 0;
      &.active{
        box-shadow: $color-black 0px 0px 0px 1px;
        border-color: $color-white;
      }
      //&[style="background: rgb(255, 255, 255);"]{
      //  box-shadow: $color-black 0px 0px 0px 1px;
      //}
      box-shadow: $color-gray1 0px 0px 0px 1px;
    }
    .swatch-color-active{
      border: 1px solid $color-white;
      box-shadow: 0px 1px 3px rgb(0 0 0 / 45%);
    }
  }

  .swatch-color{
    &.outofstock {
      position: relative;
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.outofstock:before {
      content: "";
      width: 2px;
      height: 21px;
      background: #100d0d;
      position: absolute;
      top: -4px;
      transform: rotate(297deg);
    }
  }

  .instruct{
    img{
      margin-bottom: 2px;
    }
    .txt-instruct{
      margin-left: 10px;
    }
  }
}
.product-quanlity{
  .group-quanlity{
    margin-left: 10px;
    .btn-count{
      width: 24px;
      height: 24px;
      img{
        @include border-radius(3px);
      }
    }
  }
  input[type="number"]{
    height: 24px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    width: 24px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  input::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
}
.group-policy{
  //border-bottom: 1px solid $color-gray-light2;
  border-top: 1px solid $color-gray-light2;
  padding: 12px 0 !important;
  margin: 4px 0;
  .item-policy{
    display: flex;
    width: 115px;
  }
  .item-policy_txt {
    padding: 0 10px 0 10px;
    text-align: center;
  }
}
////////////////////////////////////

.wrp-product-bundled_item{
 @include box-shadow (0px 1px 3px $color-shadow);
  width: calc(100% - 14px);
  @extend  .flex;
  .product-photo{
    width: 70px;
    img{
      @extend .img-cover;
    }
  }
  .product-item-detail{
    width: calc(100% - 70px);
    padding: 8px;
    .name-bracnh{
      padding-bottom: 4px;
      margin: 0;
      @extend .text-small;
      color: $color-gray1;
      line-height: 12px;
    }
    .name-product{
      margin: 0;
      line-height: 20px;
      font-size: $font-size__base;
      span{
        background: $color-main;
        color: $color-white;
        @include border-radius ($radius: 18px);
        @extend .text-small;
        padding: 5px 8px 3px;
        margin-right: 5px;
        line-height: 1;
        display: inline-block;
        font-weight: normal;
      }
    }
  }
}
.product-bundled_top{
  padding:20px 0;
  .product-bundled_title{
    font-weight: $font-weight__regular;
    font-size: $font-size__base;
  }

}
.product-bundled_item{
  @extend .flex-center-center;
  padding-bottom: 16px;
  .special-price-bundled{
    display: block;

  }
}
.product-item-detail{
  .price-wrap{
    align-items: flex-end;
    padding: 0 0 4px;
    .old-price{
      line-height: 18px;
      //padding-left: 10px;
    }
  }
  .special-price-bundled {
    @extend h2;
    line-height: 24px;
  }
  .option-combo{
    //position: relative;
    select{
      width: 48%;
      height: 24px;
      border: none;
      //background: #f5f5f5;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background: url('../../../../soa/assets/images/icons/icon-arrow-select.svg') #f5f5f5 no-repeat 90% center ;
    }
  }

}

.product-bundled-price{
  .text-price{
    font-size: $font-size__base;
    line-height: 20px;
  }
  .special-price-bundled {
    padding: 0 10px 0 4px;
  }
}

.product-bundled-bottom{
  //border-bottom: 1px solid $color-gray-light2;
  //padding-bottom: 17px;
  margin-bottom: 16px;
}
.product-info__item{margin-top: 16px}
.product-desc{
  margin-bottom: 32px;
}
  .product-desc_item{
    border-bottom: 1px solid $color-gray-light2;
    padding:11px 0;
    .product-desc-item_title{
      @extend .text-lg;
      //line-height: 20px;
    }
  }

.product-related-item{
  .swiper-container{       padding: 0 6px 12px;}
  .swiper-wrapper{height: auto !important;}
  padding-bottom: 28px;
  .product-related-item_top{
    padding-bottom: 4px;
  }
  .swiper-slide{
    text-align: left;
  }
  .old-price{font-weight:$font-weight__semibold }
  .special-price{
    @extend  h2;
  }
}
.product-related-item-top_title{
  font-size: $font-size__base;
  line-height: 20px;
}
.group-sp-cart {
  padding: 8px $layout__width-md-indent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
  background: $color-white;
  border-top: 1px solid $color-gray-light2;


  .add-to-cart-item{
    button{
      width: 100%;
      @extend  .no-padd;
      img{
        margin-right:11px;
      }
    }
  }
  .btn-support{
    width: 30%;
    button{
      color:$color-black-light1;
      background:$color-white  ;

    }
  }
  .btn-add-to-cart{
    width: 67%;
    button{
      color:$color-white;
      background:$color-black-light1;
    }
  }
}

///modal addtocart
.my-custom-class::part(content){
  height: 230px;
  bottom: 0;
  position: absolute;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  max-width: 100%;

}
.my-custom-class{
  .modal-wrapper{
    height: 230px;
    bottom: 0;
    position: absolute;
    border-top-right-radius: 10px;
  }
  .btn-close{
    background: none;
    border: none;
  }
}
.top-modal-product-success{
  margin: 16px 0;
  .add-success{
    color: $color-success;
    margin: 0;
  }
}

.add-product-success {
  margin-bottom: 16px;
  @extend .flex;
  align-items: flex-start;
  h3{margin: 0}
  p{
    margin: 0;
    line-height: 20px;
  }
  .info-product-success{
    padding: 10px;
  }
}

.popup-share{
  .popup-modal__icon{
    max-width: 11px;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .react-share__ShareButton{
    min-width: 54px;
  }
  .label{
    margin-top: 2px;
  }
}






