.product-item{
  @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.35));
  @include border-radius(3px 3px 0 0);
  background: $color-white;
  color: $color-text;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.label-product{
  @include border-radius (20px);
  background: var(--ion-color-primary);
  color: $color-white;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.special-price{
  @extend .text-main;
  display: block;
  font-size: 16px;
  &.size-lg{
    font-size: 20px;
  }
}
.old-price{
  color: $text-secondary;
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
  text-decoration-color: $text-secondary;
  -webkit-text-decoration-color: $text-secondary;
  margin: 0;
}
.brand-product{
  @extend .text-1line;
  min-height: 14px;
  margin: 5px 0;
}
.product-name{
  @extend .text-1line;
  margin: 0 0 5px;
  line-height: 1.4;
}
//.product-item-detail{
//  padding-bottom: 6px;
//}