.box-reward-points{
  background: $color-white;
  padding: 5px 10px;
  margin: 5px 1px;
  @include border-radius ($radius: 8px);
  .reward-account{
    img{
      @include border-radius ($radius: 50%);
    }
    .reward-account_name{
      text-align: left;
      padding-left: 10px;
      h3{
        font-size: $font-size__base;
        @extend .no-padd;
        @extend .no-mr;
        line-height: 20px;
      }
      p{
        @extend .no-mr;
        @extend .text-small;
        line-height: 12px;
      }
    }
  }
  .points{
    @extend .text-lg;
    font-weight: $font-weight__semibold;
    img{
      margin-top: -4px;
      padding-left: 5px;
    }
  }
}

//rewardpointsoption
.reward-points-options {
  margin-top: 52px;
  .swatch-size{
    .listbox{margin-left: 0;}
  }
}
/// points
.tab-points{
  &.nav-tab{
    .tab-item{
      border-bottom:2px solid $color-gray-light3;
      padding: 13px 0 8px;
      width: 50%;
      text-align: center;
      margin-bottom: 16px;
      &.active{    border-bottom-color: #C12229;}
    }
  }
  .wrp-voucher-list{
    .voucher-item{
      border: none;
      margin: 0;
    }
  }
}
.price-exchange-points{
  .price{
    font-size: $font-size__base;
    line-height: 20px;
    color: $color-main;
    margin: 0;
    img{
      padding-right: 8px;
      //margin-top: -5px;
    }
    span{margin-top: 4px}
  }
  button{
    text-transform: uppercase;
    color: $color-white;
    font-size: $font-size__base;
    background: $color-main;
    @include border-radius(18px);
    height: 26px !important;
    line-height: 27px;
  }
}
// tab points-history
.points-history-item{
  padding: 20px 0;
  border-bottom: 1px solid $color-gray-light2;
  align-items: center;
  .item_desc{
    align-items: center;
    .img-tag{
      @include box-shadow(0px 1px 3px rgba(0, 0, 0, 0.45));
      height: 48px;
      width: 48px;
      flex-basis: 48px;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .item_img-name__title{
      padding-left: 8px;
      h3{
        margin: 0;
        font-size: $font-size__base;
        line-height: 20px;
      }
      small{
       @extend .text-small;
        color: $color-gray-light2;
        line-height: 16px;
      }
    }
  }
  .item_points{
    text-align: right;
    .item_points{
      margin: 0;
    }
  }
}