.swiper-pagination{
  .swiper-pagination-bullet{
    background: $color-gray-light2;
    height: 6px;
    width: 6px;
    opacity: 1;
    margin: 0 2px !important;
    @include transition(.3s width ease);
  }
  .swiper-pagination-bullet-active{
    @include border-radius(4px);
    background: $color-black;
    width: 15px;
    .pagination-active-main &{
      background: $color-main;
    }
  }
  .pagination-left-bottom &{
    bottom: 3px;
    text-align: left;
    padding: 0 20px;
  }
}
.swiper-container-horizontal{
  >.swiper-pagination-bullets{
    bottom: 5px;
  }
}
.brand-item img{width: 100% !important;}
.swiper-slide-4{
  .swiper-slide{
    padding: 4px;
  }
}
.swiper-slide-h-full{
  .swiper-wrapper{
    height: auto;
  }
  .swiper-slide{
    height: auto;
  }
}
