.wrp-voucher-list{
  .voucher-item{
    margin: $layout__width-md-indent 0 0;
    border-bottom: 1px solid $color-gray-light1;
    padding-bottom: $layout__width-md-indent;
    .box-voucher{
      @include border-radius ($radius: 8px);
      @include box-shadow (0px 1px 3px rgba(0, 0, 0, 0.45));
      img{
        width: 100%;
      }
      .voucher-item_desc{
        padding: 9px $layout__width-md-indent;
        .voucher-item_desc__txt{
          p{
            margin: 0;
            line-height: 20px;
          }
          .voucher-item-title{
            color: $color-black-light1;
            font-size: $font-size__base;
          }
        }
        button{
          height: 24px;
          font-size: 12px;
          min-width: 90px;
        }

      }
    }

  }
}


