.product-item-detail{
  position: relative;
  .name-branch{
    padding-bottom: 4px;
    margin: 0;
    font-size: $font-size__base;
    color: $color-gray1;
    line-height: 20px;
  }
  .icon-close{
    position: absolute;
    right: 9px;
    top: 9px;
    background: none;
    padding: 0;
  }
}
.add-remove-cart{
  .add{
    @include border-radius ($radius: 4px);
    padding: 2px 17px;
    background: $color-black-light1;
    color: $color-white;
    font-size: $font-size__base;
    line-height: 20px;
  }
  .remove{
    background: none;
    padding: 0 0 0 40px;
    img{
      margin-bottom: -5px;
    }
  }
}
.popup-choose-option{
  .minicart-item{padding: 16px 0 24px;}
  .title-option{
    font-size: $font-size__base;
    line-height: 20px;
    margin-bottom: 12px;
    display: block;
  }
  .quanlity{
    .product-quanlity{
      .group-quanlity{
        margin: 0;
      }
    }
  }
  .button-address{
    box-shadow: none;
    position: initial;
    padding: 12px 0 0 0;
    border-top: 1px solid $color-gray-light2;
    margin-top: 12px;
    .btn-success-address{
      padding-right: 8px;
    }
  }
}
.choose-option-color{
  margin-bottom: 12px;
  .options-item{margin: 0 16px 8px 0px;}
}
.choose-option-size{
  border-bottom: 1px solid $color-gray-light2;
  margin-bottom: 12px;
  padding-bottom: 12px;

}
.listbox-option{
    .options-item{
      @extend .flex-center-center;
      background: none;
      border:1px solid $color-black-light1;
      @include border-radius ($radius:5px );
      padding: 6px 12px;
      margin-right: 8px;
      margin-bottom: 12px;
      span{
        background: $color-white;
        display: block;
        width: 20px;
        height: 20px;
        @include border-radius ($radius:50% );
        margin-right: 8px;

      }
      &.active{
        background: $color-black;
        color: $color-white;
      }
    }



}