//General
.title-account{
  border-bottom: 2px solid $color-gray-light1;
  font-size: 16px;
  margin: 0 0 16px;
  padding-bottom: 9px;
}
.counter-parent{
  position: relative;
  .counter{
    @extend .flex-center-center;
    @include border-radius(50%);
    position: absolute;
    top: -10px;
    right: -7px;
    height: 16px;
    width: 16px;
  }
  .counter-main{
    background: $color-main;
    color: $color-white;
  }
}
//General

//Account Info
.icon-camera{
  max-width: 22px;
}
.account-info{
  .customer-avatar{
    @include box-shadow(0px 1px 3px var(--color-shadow));
    height: 64px;
    width: 64px;
  }
  .account-info-detail{
    padding-left: 25px;
    width: calc(100% - 64px);
  }
  .customer-name{
    font-size: 20px;
    margin: 0 0 8px;
  }
}
//End Account Info

//Voucher
.account-voucher{
  .voucher-item{
    border: 1px solid $color-gray-light2;
    @include border-radius(8px);
    height: 100%;
    padding: 9px 8px;
  }
  ion-col{
    padding: 12px;
  }
  ion-row{
    margin-left: -12px;
    margin-right: -12px;
  }
  .voucher-icon{
    width: 45px;
  }
  .voucher-item-detail{
    width: calc(100% - 45px);
  }
  .voucher-item-name{
    margin: 0 0 4px;
  }
}
//End Voucher

//Order History
.order-history{
  .order-process{
    padding: 24px 0 10px;
  }
  .process-label{
    display: block;
  }
  .tab-item{
    text-align: center;
    padding: 0 7px;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  .process-icon{
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
    height: 20px;
    i{
      font-size: 20px;
    }
    img{
      max-height: 100%;
    }
  }
  .tab-items{
    padding-top: 11px;
  }
}
//End Order History

//Sidebar Account
.account-sidebar{
  .sidebar-person{
    padding: 23px 0 10px;
  }
}
.account-sidebar-cms{
  .sidebar-person {
    padding-bottom: 24px;
  }
}
//End Sidebar Account
