.block__invite{
  .invite-link-text{
    margin: 8px 0;
  }
}
.qr-code{
  padding: 41px 0 28px;
  .qr-des{
    margin: 5px 0 0;
    line-height: 20px;
  }
}
.social-share{
  .social-item{
    min-width: 52px;
    margin-bottom: 13px;
    &:not(:last-of-type){
      margin-right: 7px;
    }
  }
  .social-logo{
    display: inline-block;
    max-width: 22px;
    margin-bottom: 6px;
    height: 22px;
  }
  .social-label{
    display: block;
    color: $text-secondary;
  }
}
.form-input-code{
  .btn-submit{
    margin-top: 16px;
  }
}
.invite-form{
  padding: 40px 0 24px;
}
.form__invite{
  .qr-label{
    margin: 0 0 26px;
  }
}
.icon-copy-code{
  right: 12px;
}
.input-field-icon-end{
  padding-right: 48px;
}