.avatar-update {
  //position: relative;
  //@include border-radius ($radius: 50%);
  //overflow: hidden;
  width: 120px;
  height: 120px;
  margin: $layout__width-md-indent auto;
  button {
    //position: absolute;
    //bottom: 0;
    //z-index: 99;
    //left: 50%;
    //transform: translateX(-50%);
    //width: 100%;
    //padding: 6px 0;
    //background: #757575;
    //color: $color-white;
    > span{
      background: #757575;
      color: $color-white;
      margin-bottom: -2px;
      padding: 6px 0;
    }
  }
}
.title-account-update{
  @extend .text-lg;
  padding: 27px 0 9px;
  border-bottom: 1px solid $color-gray-light2;
  margin: 0 0 16px;

}
.list-social{padding-bottom: 50px}
.list-items-sociallink{
  ._item-sociallink{
    margin-bottom: $layout__width-md-indent;
    .name-linksocial{
      padding-left: $layout__width-md-indent;
      font-weight: $font-weight__semibold;
    }
    .unlink{
      background: none;
      @extend .text-main;
    }
  }
}
