.header-account{
  .btn-back{
    & + .account-pages-title{
      width: calc(100% - 80px);
    }
  }
  .account-pages-title{
    font-size: 18px;
    margin: 0;
    width: calc(100% - 40px);
  }
  //.btn-link{
  //  width: 67px;
  //}
  .btn-info{
    font-size: 22px;
    width: 40px;
  }
  .header-container{
    position: relative;
  }
  .header-content{
    //padding: 20px 0 8px;
  }
  ion-toolbar{
    --min-height: 30px;
  }
  .btn-back{
    font-size: 18px;
  }
}