.login-container{
  background: rgba(63, 61, 61, 0.7);
  padding: 20px $layout__width-md-indent 12px;
  width: 100%;
}
.login-title{
  color: $color-white;
  margin: 0 auto 16px;
  text-align: center;
  max-width: 240px;
}
.block__login{
  padding: 26vh 0 7vh;
  .text-approve{
    line-height: 16px;
  }
}
.form-login{
  .error-message{
    color: $color-red-light1;
    margin-top: 5px;
  }
}

//LoginOTP
.page-login-otp{
  padding-top: 55px;
}
.digit-group {
  padding-top: 21px;
  .digit-input{
    text-align: center;
    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }
  .btn-submit{
    margin-top: 34px;
  }
}
.form-otp{
  > p{
    margin: 18px 0;
  }
  .timer-otp{
    margin-top: 11px;
  }
  .resend{
    margin-top: 15px;
    .btn-link{
      margin-left: 9px;
    }
  }
  i{
    margin-right: 9px;
  }
  .phone-number{
    font-size: 24px;
    font-weight: $font-weight__semibold;
  }
}
//End LoginOTP